.profile__edit-button {
  grid-area: edit-button;
  padding: 0;
  margin: 15px 0 0 0;
  background-color: #000000;
  box-sizing: border-box;
  max-width: 24px;
  max-height: 24px;
  border: 1px solid #FFF;
  background-image: url(../../../images/edit-button.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 1279px) {
  .profile__edit-button {
    margin: 16px 0 0 0;
    max-width: 22px;
    max-height: 22px;
  }
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    margin: 8px 0 0 0;
    max-width: 18px;
    max-height: 18px;
    background-size: 7.5px;
  }
}
