.popup__input {
  box-sizing: border-box;
  margin: 0;
  padding: 0px 0 11px 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  color: #000;
  min-width: 358px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  outline: none;
}

@media screen and (max-width: 767px) {
  .popup__input {
    padding: 0 0 8px 0;
    min-width: 238px;
  }
}
