.element__desctiption {
  box-sizing: border-box;
  margin: 0;
  max-width: 282px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px 24.5px 21px;
  border-radius: 0 0 10px 10px;
}
