.element__desctiption {
  box-sizing: border-box;
  margin: 0;
  min-width: 282px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px 31px 21px;
  border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 767px) {
  .element__desctiption {
    max-width: 282px;
  }
}
