.popup__container {
  box-sizing: border-box;
  max-width: 430px;
  max-height: 330px;
  padding: 34px 36px 37px;
  background: #fff;
  position: relative;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .popup__container {
    max-width: 282px;
    min-height: 322px;
    padding: 25px 22px 25px;
  }
}
