.popup__container {
  box-sizing: border-box;
  max-width: 430px;
  max-height: 330px;
  padding: 34px 36px 37px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

@media screen and (max-width: 439px) {
  .popup__container {
    max-width: 282px;
  }
}
