.header {
  max-width: 1280px;
  width: calc(100% - 200px*2);
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1279px) {
  .header {
    width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 1023px) {
  .header {
    width: calc(100% - 60px*2);
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: calc(100% - 35px*2);
  }
}

@media screen and (max-width: 349px) {
  .header {
    width: 100%;
  }
}
