@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);


.page {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #000000;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  color: #FFF;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__container {
  background-color: #000000;;
  margin: 0 auto;
  max-width: 1280px;
}

.page__header {
  margin-bottom: 40px;
  padding-top: 45px;
}

@media screen and (max-width: 767px) {
  .page__header {
    padding-top: 28px;
  }
}

.section {
  box-sizing: border-box;
  margin: 0 auto;
}

.header {
  max-width: 1280px;
  width: calc(100% - 200px*2);
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1279px) {
  .header {
    max-width: 1024px;
    width: calc(100% - 150px*2);
  }
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 768px;
    width: calc(100% - 100px*2);
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 320px;
    width: calc(100% - 27px*2);
  }
}

.header__logo {
  width: 142px;
  height: auto;
  display: block;
  margin: 0 0 41px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 103.74px;
    margin: 0 0 31.6px;
  }
}

.content {
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
  min-width: 320px;
  display: block;

}

.content__section {
  max-width: 1280px;
  width: calc(100% - 200px*2);
}

@media screen and (max-width: 1279px) {
  .content__section {
    max-width: 1024px;
    width: calc(100% - 150px*2);
  }
}

@media screen and (max-width: 1023px) {
  .content__section {
    max-width: 768px;
    width: calc(100% - 100px*2);
  }
}

@media screen and (max-width: 767px) {
  .content__section {
    max-width: 320px;
    width: calc(100% - 19px*2);
  }
}

.profile {
  display: flex;
  justify-content: space-between;
}

.page__profile {
  margin: 40px auto 47.25px;
}

.profile__bloks {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}


.avatar {
  max-width: 120px;
  margin: 0;
}

.avatar__images {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  max-width: 336px;
  display: grid;
  grid-template-columns: 1fr 24px;
  gap: 18px 16px;
}

.profile-info__title {
  padding: 0;
  margin: 0;
  max-width: 294px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  font-style: normal;
}

.profile-info__edit-button {
  margin: 15px 0 0 0;
  background-color: #000000;
  box-sizing: border-box;
  max-width: 24px;
  max-height: 24px;
  border: 1px solid #FFF;
  background-image: url(../images/vector.png);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: .3s ease;
}

.profile-info__subtitle {
  padding: 0;
  margin: 0;
  max-width: 336px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
}

.add-button {
  background-color: #000000;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  align-self: center;
  background-position: center center;
  background-image:url(../images/plus.png);
  background-repeat: no-repeat;
  border: 2px solid #FFF;
  border-radius: 2px;
  cursor: pointer;
  transition: .3s ease;
}

.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
}

@media screen and (max-width: 1023px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 13px;
  }
}

@media screen and (max-width: 767px) {
  .elements {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.element {
  margin: 0;
  max-width: 282px;
  max-height: 361px ;
  background-color: #fff;
  border-radius: 10px;
}

.element__image {
  display: block;
  object-fit: cover;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.element__desctiption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 15px 31px 21px;
}

.element__title {
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  max-width: 85%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.place__like-ico {
  width: 22px;
  height: 19px;
}

.footer {
max-width: 1280px;
width: calc(100% - 200px*2);
}

.page__footer {
  margin: 67px auto 60px;
}





