.element__like-ico {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  background-color: #fff;
  box-sizing: border-box;
  align-self: center;
  background-image:url(../../../images/lake.svg);
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.element__like-ico:hover {
  opacity: .6;
}
